*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  color: #2B2D42;
  text-align: center;
}
h1,h2,h3,h4,h5{
  text-wrap: balance;
}
p {text-wrap: balance;}
h1{
  color: #EDF2F4;
  font-size: 2.5rem;
}

.main-bkgc{background-color: #2B2D42;}
.secn-bkgc{ background-color: #8D99AE;}

.btn{
  background-color: #A93744;
  padding: 10px 17px 11px;
  color: #EDF2F4;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #585858;
  transition: all 0.1s;
  font-weight: 400;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn:hover{
  background-color: #9D333F;
  box-shadow: 0px 0px 3px #656565;
  color: #dae0e2;
}
.btn.d{
  box-shadow: 1px 1px 4px #0f0f1f;
}
.btn.d:hover{
  box-shadow: 0px 0px 3px #232323;
}

.main-cont{
  min-height: 100dvh;
}
.error{
  color: #ee4444;
  position: absolute;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  appearance: none;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items:center;
  z-index: 9999;
}